<!--
  Ficha prática 6 - Exercicio 2
  @author Pedro Machado "pedroma2000"
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Submissão de Reviews de Livros</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Reviews</h1>
    <%- include('../partials/emailBook', {list}) %>
</body>

</html>